
body {
	margin: auto;
	padding: auto;
}
#contenedor {
	background-color: #282c34;
	border-radius: 10px;
	color: aliceblue;
	display: block;
	width: 380px;
	margin: 10px auto;
	border: 2px solid rgb(142, 196, 17);
}

#autor {
	color: rgb(29, 209, 53);
	margin: 1px;
}

#contenedor:hover {
	background-color: #1b1c1f;
	border-radius: 10px;
	color: rgb(30, 181, 207);
	width: 380px;
	margin: 10px auto;
	height: auto;
}

#input {
	width: 300px;
	border: blueviolet solid 2px;
}

#boton {
	display: flex;
	gap: 40px;
	margin: 10px auto;
	margin-left: 100px;
	border: lightblue solid 2px;
}

#reset {
	display: flex;
	gap: 40px;
	margin-top: -50px;
	margin-left: 180px;
	border: lightblue solid 2px;
}

#flag {
	display: flex;
	width: 150px;
	height: 100px;
	border: blueviolet solid 2px;
	border-radius: 20px;
	margin: 10px;
	margin-left: 28%;
}

#estadistic {
	border: 2px solid rgb(142, 196, 17);
	border-radius: 10px;
	height: auto;
}

#populations,
#country,
#cases,
#caseconfirm,
#deaths,
#deathstoday,
#critical,
#tests,
#recoveredtoday,
#recovered,
#continent {
	margin: 0;
	border: lightblue solid 2px;
}

#populations,
#country,
#cases,
#caseconfirm,
#deaths,
#deathstoday,
#critical,
#tests,
#recoveredtoday,
#recovered,
#continent {
	background: rgb(27, 27, 27);
	margin: 10px;
	border-radius: 10px;
	width: auto;
	display: flex;
	padding-left: 10px;
	border: blueviolet solid 2px;
}
