
#contenedor {
  background-color: #282c34;
  border-radius: 10px;
  color: aliceblue;
  width: 400px;
  margin: auto;
  height: auto;
}

#contenedor:hover {
  background-color: #4e5561;
  border-radius: 10px;
  color: rgb(30, 181, 207);
  width: 400px;
  margin: auto;
  height: auto;
}

#input {
  display: flex;
  align-items: center;
  width: 330px;
  border: none;
}

#boton {
  gap: 40px;
  margin: 10px auto;
}

#flag {
  width: 150px;
  border: lightblue solid 1px;
  border-radius: 20px;
  margin: 10px;
}

#estadistic{
  border: 1px solid lightblue;
  border-radius: 10px;
  height: auto;
}

#populations, #country, #cases,
#caseconfirm, #deaths, #deathstoday, 
#critical,#tests,#recoveredtoday,
#recovered, #continent {
  margin: 0;
}

#populations, #country, #cases,
#caseconfirm, #deaths, #deathstoday, 
#critical,#tests,#recoveredtoday,
#recovered, #continent {
  background: rgb(27, 27, 27);
  margin: 10px;
  border-radius: 10px;
  width: auto;
  display: flex;
  padding-left: 10px;
}




